<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598148910109-9smhrr77jsl8nagk9gad0h2kqtpgrqh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598148910109-9smhrr77jsl8nagk9gad0h2kqtpgrqh4</string>
	<key>API_KEY</key>
	<string>AIzaSyCJdo86d9WkrMsXP1U5rIYy0iFr2RWo-58</string>
	<key>GCM_SENDER_ID</key>
	<string>598148910109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sgh.Cine</string>
	<key>PROJECT_ID</key>
	<string>cinema-fa766</string>
	<key>STORAGE_BUCKET</key>
	<string>cinema-fa766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598148910109:ios:630487657ad68696338af4</string>
	<key>DATABASE_URL</key>
	<string>https://cinema-fa766.firebaseio.com</string>
</dict>
</plist>